In [1]:
from src.utils import data_load
import pandas as pd
from src.s3_utils import pandas_from_csv_s3
import numpy as np
from utils import get_survey_question

In [2]:
data = data_load(data_keys={'bodyport', 'oura_activity', 'oura_sleep', "surveys"}, wave=5)
data_bodyport = data['bodyport']

In [3]:
data_bodyport.subsource.unique()

array(['weight'], dtype=object)

In [4]:
for i in data_bodyport.columns:
    print(i, type(data_bodyport[i].iloc[0]))
data_bodyport.dtypes

id <class 'numpy.int64'>
user_id <class 'numpy.int64'>
identity_id <class 'numpy.int64'>
created_at <class 'str'>
updated_at <class 'str'>
retrieved_at <class 'str'>
subsource <class 'str'>
creation_date <class 'str'>
event_date <class 'str'>
backend_sway_area_mm2 <class 'numpy.float64'>
bmi_kg_m2 <class 'numpy.float64'>
device_id <class 'str'>
end_code <class 'numpy.int64'>
heart_rate <class 'numpy.float64'>
impedance_mag_1_ohms <class 'numpy.float64'>
impedance_phase_1_degs <class 'numpy.float64'>
impedance_ratio <class 'numpy.float64'>
muuid <class 'str'>
patient_id <class 'str'>
peripheral_fluid <class 'numpy.float64'>
run_time_sec <class 'numpy.float64'>
sway_velocity_mm_sec <class 'numpy.float64'>
total_body_water_percent <class 'numpy.float64'>
uuid <class 'str'>
weight_kg <class 'numpy.float64'>
date <class 'datetime.date'>

id                            int64
user_id                       int64
identity_id                   int64
created_at                   object
updated_at                   object
retrieved_at                 object
subsource                    object
creation_date                object
event_date                   object
backend_sway_area_mm2       float64
bmi_kg_m2                   float64
device_id                    object
end_code                      int64
heart_rate                  float64
impedance_mag_1_ohms        float64
impedance_phase_1_degs      float64
impedance_ratio             float64
muuid                        object
patient_id                   object
peripheral_fluid            float64
run_time_sec                float64
sway_velocity_mm_sec        float64
total_body_water_percent    float64
uuid                         object
weight_kg                   float64
date                         object
dtype: object

In [5]:
len(data_bodyport['patient_id'].unique())

368

In [6]:
len(data_bodyport['user_id'].unique())

368

In [7]:

len(data_bodyport['muuid'].unique())

47161

In [8]:
len(data_bodyport)

47161

In [9]:
len(data_bodyport['identity_id'].unique())

368

In [10]:
data_bodyport[['patient_id', 'user_id']]

                                 patient_id  user_id
0                             bodyport-29-1       29
1                             bodyport-29-1       29
2                             bodyport-29-1       29
3                             bodyport-29-1       29
4                             bodyport-29-1       29
...                                     ...      ...
47156  143a132a-aa98-4a0c-ae57-0c1ac2b857de     2654
47157  143a132a-aa98-4a0c-ae57-0c1ac2b857de     2654
47158  143a132a-aa98-4a0c-ae57-0c1ac2b857de     2654
47159  143a132a-aa98-4a0c-ae57-0c1ac2b857de     2654
47160  143a132a-aa98-4a0c-ae57-0c1ac2b857de     2654

[47161 rows x 2 columns]

In [11]:
data_bodyport[['retrieved_at', 'created_at', 'creation_date']]

              retrieved_at                  created_at        creation_date
0      2021-08-21 22:59:37  2021-08-21 23:14:06.724909  2021-08-21 22:59:37
1      2021-08-18 13:56:58  2021-08-18 14:14:06.303632  2021-08-18 13:56:58
2      2021-08-11 21:46:16  2021-08-11 22:14:06.428484  2021-08-11 21:46:16
3      2021-08-08 17:17:37  2021-08-08 17:19:42.953571  2021-08-08 17:17:37
4      2021-08-07 18:07:04   2021-08-07 18:14:31.72311  2021-08-07 18:07:04
...                    ...                         ...                  ...
47156  2022-11-09 12:20:57  2022-11-09 12:42:58.097449  2022-11-09 12:20:57
47157  2022-11-09 12:20:29  2022-11-09 12:42:58.125909  2022-11-09 12:20:29
47158  2022-11-08 12:39:38  2022-11-08 12:45:30.583557  2022-11-08 12:39:38
47159  2022-11-08 00:37:59  2022-11-08 00:49:21.416032  2022-11-08 00:37:59
47160  2022-11-08 00:36:56  2022-11-08 00:49:22.063328  2022-11-08 00:36:56

[47161 rows x 3 columns]

In [12]:
data_bodyport['backend_sway_area_mm2']

0         75.0
1        104.0
2         77.0
3         82.0
4         87.0
         ...
47156     81.0
47157    247.0
47158     51.0
47159    251.0
47160     23.0
Name: backend_sway_area_mm2, Length: 47161, dtype: float64

In [13]:
data_bodyport['bmi_kg_m2']

0        30.4
1        30.2
2        30.6
3        29.7
4        29.3
         ...
47156    32.6
47157    33.2
47158    33.1
47159    33.6
47160    33.7
Name: bmi_kg_m2, Length: 47161, dtype: float64

In [14]:
data_bodyport['weight_kg']

0        85.71
1        85.12
2        86.39
3        83.80
4        82.76
         ...
47156    75.22
47157    76.74
47158    76.52
47159    77.69
47160    77.82
Name: weight_kg, Length: 47161, dtype: float64

In [15]:
data_bodyport['sway_velocity_mm_sec']

0        11.5
1        14.7
2        10.3
3        13.6
4        14.0
         ...
47156    15.2
47157     NaN
47158     8.8
47159    22.8
47160     NaN
Name: sway_velocity_mm_sec, Length: 47161, dtype: float64

In [16]:
data_bodyport['device_id']

0        BP2049B128BN
1        BP2049B128BN
2        BP2049B128BN
3        BP2049B128BN
4        BP2049B128BN
             ...
47156    BP2128B192CK
47157    BP2128B192CK
47158    BP2128B192CK
47159    BP2128B192CK
47160    BP2128B192CK
Name: device_id, Length: 47161, dtype: object

In [17]:
len(data_bodyport['device_id'].unique())

378

In [18]:
for u in data_bodyport['user_id'].unique():
    print(data_bodyport[data_bodyport['user_id'] == u]['device_id'].unique())

['BP2049B128BN']
['BP2052B181VM']
['BP2051B178PL']
['BP2052B189CR']
['BP2052B141PM']
['BP2052B182ZC']
['BP2052B177LC']
['BP2052B134ZV']
['BP2052B150OQ']
['BP2104B158PP']
['BP2051B156AM']
['BP2052B116KN']
['BP2052B159FB']
['BP2104B153TE']
['BP2052B106GW']
['BP2052B112AO']
['BP2051B186KX']
['BP2052B109JI']
['BP2052B139EQ']
['BP2051B166ZA']
['BP2050B104BV']
['BP2052B154GX']
['BP2052B136MD']
['BP2052B130SL']
['BP2001B101OU']
['BP2052B108MQ']
['BP2127B196TI']
['BP2128B110BK' 'BP2130B116QH']
['BP2128B192GN']
['BP2127B193TM']
['BP2130B145II']
['BP2129B169KS']
['BP2121B127QU']
['BP2128B183KC']
['BP2120B153UC']
['BP2129B139WV']
['BP2127B149HP']
['BP2134B179JS']
['BP2049B117BY']
['BP2052B171OQ']
['BP2134B189GV']
['BP2051B139SF']
['BP2131B191QY']
['BP2133B145LE']
['BP2127B167JU' 'BP2131B136GW']
['BP2131B121GO']
['BP2131B173VB']
['BP2127B111WN']
['BP2131B105FQ']
['BP2127B199XK']
['BP2118B153QB']
['BP2050B177FA']
['BP2051B181IF']
['BP2052B148ZJ']
['BP2051B140UA']
['BP2051B132PC']
['BP2052B135TJ']
['BP2050B156II']
['BP2051B176AH']
['BP2127B196NV']
['BP2052B152BZ']
['BP2127B194SM']
['BP2051B166XP']
['BP2125B119FM']
['BP2052B135ZZ']
['BP2051B188WN']
['BP2052B117FZ']
['BP2052B188DN']
['BP2052B142FR']
['BP2051B139AB']
['BP2052B103PG']
['BP2051B180NI']
['BP2052B100PY']
['BP2001B159BC']
['BP2128B122XV']
['BP2128B198CC']
['BP2130B148GX']
['BP2128B137LF']
['BP2134B180UY']
['BP2102B176YH']
['BP2134B134DJ']
['BP2129B157TM']
['BP2132B177FJ']
['BP2129B164JI']
['BP2129B178FX']
['BP2131B162MR']
['BP2127B145VO']
['BP2050B197YT']
['BP2050B173AO']
['BP2050B120UT']
['BP2051B153OA']
['BP2051B164BM']
['BP2051B175BH']
['BP2051B118JY']
['BP2050B155NZ']
['BP2050B158BD']
['BP2050B124NT']
['BP2127B131CL']
['BP2052B162DP']
['BP2129B114LR']
['BP2050B101FK']
['BP2051B132SP']
['BP2052B179DX']
['BP2111B130WJ']
['BP2050B152VW']
['BP2127B153VE']
['BP2102B114CU']
['BP2051B100HV']
['BP2052B189DT']
['BP2051B123UM']
['BP2052B142JZ']
['BP2052B124IX']
['BP2052B125YS']
['BP2051B194PV']
['BP2052B116AU']
['BP2052B188IQ']
['BP2052B191SL']
['BP2051B152FD']
['BP2052B141RD']
['BP2129B160JU']
['BP2129B149RD']
['BP2120B110LM']
['BP2134B136SJ']
['BP2127B165PK']
['BP2134B159OW']
['BP2134B123LM']
['BP2134B114FX']
['BP2133B168TA']
['BP2103B144RJ']
['BP2131B160EX']
['BP2131B182DY']
['BP2127B116MG']
['BP2133B141PG']
['BP2127B132GF']
['BP2127B138AY']
['BP2052B170CR']
['BP2052B190SP']
['BP2051B119CS']
['BP2052B189GL']
['BP2052B177WV']
['BP2050B143TR']
['BP2111B142DX']
['BP2052B159WY']
['BP2052B115QD']
['BP2051B103RP']
['BP2052B196XG']
['BP2050B113BD']
['BP2051B122OX']
['BP2051B116RU']
['BP2118B107UA']
['BP2118B112RE']
['BP2102B123HN']
['BP2052B197BI']
['BP2052B130WX']
['BP2051B158AH']
['BP2052B162HK']
['BP2118B116PQ']
['BP2051B128XE']
['BP2052B128CE']
['BP2051B147WG']
['BP2052B145IX']
['BP2052B113RR']
['BP2052B192FM']
['BP2001B139FC']
['BP2134B110QV' 'BP2051B164QA']
['BP2129B171JS']
['BP2129B126CW']
['BP2128B105QG']
['BP2128B104QB']
['BP2130B104RE']
['BP2127B157RI']
['BP2134B113PP']
['BP2127B171FN']
['BP2103B182CV']
['BP2129B119PF']
['BP2051B144IQ']
['BP2052B130VI']
['BP2133B171DD']
['BP2132B190ZJ']
['BP2133B157FU']
['BP2131B194YG']
['BP2127B154MZ']
['BP2130B170LR']
['BP2050B174QS']
['BP2051B182DU' 'BP2127B109JX']
['BP2051B148RE']
['BP2049B110SU']
['BP2052B116IB']
['BP2127B140WI']
['BP2102B114PZ']
['BP2104B143KZ']
['BP2118B151ID']
['BP2125B120AB']
['BP2052B174YR']
['BP2052B109NF']
['BP2050B141JD']
['BP2052B136CB']
['BP2052B126AG']
['BP2051B109JH']
['BP2052B119XF']
['BP2051B180QX']
['BP2052B187NW']
['BP2049B188MM']
['BP2052B166XP']
['BP2052B150KG']
['BP2052B102AZ']
['BP2052B175RM']
['BP2052B122LU']
['BP2052B158SX']
['BP2129B110MF']
['BP2001B199LY']
['BP2128B198TP' 'BP2131B181OG' 'BP2134B170HR' 'BP2134B178FT']
['BP2129B140LI']
['BP2128B190ER']
['BP2130B109EE']
['BP2130B139LX']
['BP2130B173JB']
['BP2130B185XM']
['BP2128B114UU']
['BP2129B104WV']
['BP2128B177QS']
['BP2134B126HI']
['BP2127B100RA']
['BP2134B176YA']
['BP2134B167YI']
['BP2134B191IH']
['BP2130B159DI']
['BP2134B143WZ']
['BP2134B145FC']
['BP2050B119EI']
['BP2134B144EH']
['BP2129B185HB']
['BP2102B130AU']
['BP2130B169AF' 'BP2052B134EP']
['BP2133B140CZ']
['BP2109B192IN']
['BP2128B167JQ']
['BP2120B139PG']
['BP2131B103LR']
['BP2133B173PI']
['BP2130B150PD']
['BP2133B105LZ']
['BP2052B196MI']
['BP2050B110YS']
['BP2051B134GJ']
['BP2052B178FL']
['BP2051B167BL']
['BP2052B119ZD']
['BP2049B123TZ']
['BP2050B130CO']
['BP2051B135JM']
['BP2052B112QD']
['BP2052B155BK']
['BP2050B168BB']
['BP2103B198GX']
['BP2124B101XH']
['BP2051B142NQ']
['BP2052B171VO']
['BP2052B196IF']
['BP2052B158YW']
['BP2052B180NG']
['BP2052B145KD']
['BP2118B188QW']
['BP2051B158TH']
['BP2130B170LV']
['BP2130B156VK']
['BP2129B137TS']
['BP2051B139BF']
['BP2127B108YX']
['BP2129B189ED']
['BP2052B190LX']
['BP2128B187FG']
['BP2128B175GD']
['BP2128B185KR']
['BP2134B128WL']
['BP2127B123LJ']
['BP2134B134YS']
['BP2128B135IT' 'BP2134B118DR']
['BP2051B104FS']
['BP2133B195HY']
['BP2120B176EU']
['BP2051B139QL']
['BP2131B194GW']
['BP2133B129AI']
['BP2128B146XZ']
['BP2129B133QF']
['BP2050B153ZM']
['BP2051B132NL']
['BP2052B170EV']
['BP2051B170GI']
['BP2109B177DW']
['BP2052B119JY']
['BP2118B164AO']
['BP2051B185HH']
['BP2103B100WL']
['BP2127B130IL']
['BP2052B193BI']
['BP2052B194HI']
['BP2118B122WL']
['BP2050B135MK']
['BP2051B148JY']
['BP2052B158LP']
['BP2001B127MW']
['BP2052B189AM']
['BP2052B114YB']
['BP2052B136UN']
['BP2052B105BA']
['BP2052B106OX']
['BP2128B184MF']
['BP2127B119TS']
['BP2130B193NE']
['BP2128B139AT']
['BP2127B146WZ']
['BP2129B171JU']
['BP2128B133AW']
['BP2130B151TO']
['BP2134B123JU']
['BP2127B146ZH']
['BP2052B195NW']
['BP2124B167YB']
['BP2103B187LV']
['BP2051B183IS']
['BP2133B193WR']
['BP2052B148QH']
['BP2132B130UC']
['BP2131B163LH']
['BP2131B139VM']
['BP2131B113BL']
['BP2130B141MD']
['BP2052B146WB']
['BP2050B183ZY']
['BP2052B106OG']
['BP2050B132MQ']
['BP2052B199JO']
['BP2052B127VT']
['BP2104B147KA']
['BP2134B149WR' 'BP2052B181SA']
['BP2051B155SD']
['BP2127B173UO']
['BP2051B156SR']
['BP2052B144SV']
['BP2050B111OV']
['BP2052B111GX']
['BP2130B129CE']
['BP2130B116VY']
['BP2129B101PG']
['BP2128B197UU']
['BP2130B130LY']
['BP2134B136AR']
['BP2134B163SU']
['BP2052B165BG']
['BP2134B188ZM']
['BP2134B184EV']
['BP2134B128UD']
['BP2052B171LN']
['BP2134B187DL']
['BP2133B152HC']
['BP2133B123UR']
['BP2050B161SU']
['BP2131B174NE']
['BP2052B100BU']
['BP2052B120XW']
['BP2133B130MN']
['BP2052B190PX']
['BP2131B173HF']
['BP2127B145AJ']
['BP2118B105VJ']
['BP2128B192CK']

In [19]:
data_bodyport['heart_rate']

0        120.0
1        148.0
2        101.0
3        106.0
4        132.0
         ...
47156     89.0
47157      NaN
47158     88.0
47159    123.0
47160      NaN
Name: heart_rate, Length: 47161, dtype: float64

In [20]:
data_bodyport['impedance_mag_1_ohms']

0        464.00
1        495.00
2        445.00
3        493.00
4        478.00
          ...
47156    483.44
47157    485.08
47158    481.25
47159    432.67
47160    446.57
Name: impedance_mag_1_ohms, Length: 47161, dtype: float64

In [21]:
data_bodyport.describe()

,id,user_id,identity_id,backend_sway_area_mm2,bmi_kg_m2,end_code,heart_rate,impedance_mag_1_ohms,impedance_phase_1_degs,impedance_ratio,peripheral_fluid,run_time_sec,sway_velocity_mm_sec,total_body_water_percent,weight_kg
count,4.716100e+04,47161.000000,47161.000000,46704.000000,47161.000000,47161.000000,41887.000000,45176.000000,45175.000000,45336.000000,46136.000000,47161.000000,42588.000000,45168.000000,47161.000000
mean,6.561250e+06,1276.235534,3738.728314,107.807383,27.574180,0.331651,95.083964,537.208098,-5.613877,4.450436,1.876560,18.925313,15.333979,47.315690,75.594217
std,3.980540e+06,784.199258,2627.718317,70.156626,5.742565,0.926379,15.712498,87.326525,0.843048,46.378279,0.441957,5.758318,8.258744,4.272483,17.035455
min,5.568200e+04,28.000000,134.000000,2.000000,8.400000,0.000000,45.000000,204.000000,-13.600000,0.920000,0.000000,3.900000,1.700000,33.800000,23.630000
25%,3.636579e+06,410.000000,913.000000,65.000000,23.500000,0.000000,84.000000,482.000000,-6.100000,1.130000,1.660000,16.400000,10.000000,44.400000,63.060000
50%,6.234313e+06,1436.000000,3649.000000,89.000000,26.500000,0.000000,94.000000,537.000000,-5.600000,1.150000,1.850000,18.600000,13.400000,47.200000,72.140000
75%,9.742051e+06,2015.000000,6652.000000,126.000000,30.700000,0.000000,105.000000,596.000000,-5.100000,1.170000,2.070000,21.500000,18.200000,49.900000,85.040000
max,1.403190e+07,2664.000000,8520.000000,688.000000,51.800000,4.000000,158.000000,845.000000,-0.500000,655.350000,4.900000,58.500000,144.200000,84.900000,154.930000

In [22]:
data_bodyport[['impedance_mag_1_ohms', 'impedance_phase_1_degs', 'impedance_ratio', 'total_body_water_percent', 'peripheral_fluid']]

,impedance_mag_1_ohms,impedance_phase_1_degs,impedance_ratio,total_body_water_percent,peripheral_fluid
0,464.00,-5.1,1.11,47.6,2.16
1,495.00,-5.2,1.11,46.2,2.02
2,445.00,-5.0,1.10,48.5,2.25
3,493.00,-5.9,1.13,46.7,2.03
4,478.00,-5.6,1.12,47.9,2.09
...,...,...,...,...,...
47156,483.44,-7.3,1.22,44.1,2.07
47157,485.08,-7.2,1.21,43.5,2.06
47158,481.25,-7.3,1.21,43.8,2.08
47159,432.67,-8.1,1.22,46.0,2.31
47160,446.57,-7.4,1.19,45.1,2.24

In [23]:
1000/464

2.1551724137931036

In [24]:
addendum = data_load(data_keys = {'check_in_2_addendum'}, wave=6)['check_in_2_addendum']

In [25]:
addendum.columns

Index(['record_id', 'redcap_event_name', 'thirdparty___0', 'thirdparty___1',
       'thirdparty___2', 'apps_guide', 'thirdparty_notes', 'rescuetime',
       'rescuetime_start', 'rescuetime_end', 'rescuetime_data',
       'rescuetime_notes', 'twitter', 'twitter_start', 'twitter_end',
       'twitter_data', 'twitter_notes', 'check_in_2_addendum_complete'],
      dtype='object')

In [26]:
np.sum(addendum.isna())

record_id                         0
redcap_event_name                 0
thirdparty___0                    0
thirdparty___1                    0
thirdparty___2                    0
apps_guide                      351
thirdparty_notes                377
rescuetime                      391
rescuetime_start                459
rescuetime_end                  472
rescuetime_data                 472
rescuetime_notes                466
twitter                         471
twitter_start                   473
twitter_end                     473
twitter_data                    473
twitter_notes                   473
check_in_2_addendum_complete      0
dtype: int64

In [27]:
print(addendum['thirdparty_notes'].unique())

['Optinal apps guide already sent during enrollment- not discussed. '
 'Not interested in sharing phone information'
 'Optional apps info provided during onboarding- not discussed'
 'family uses her phone often so she does not want that to influence her data.'
 'Provided 3rd party app instructions during enrolled. '
 'work phone so she wants to keep additional apps and tracking to a minimum'
 'Already received 3rd party app instructions during enrollment period'
 nan
 'Participant provided 3rd party app directions with initial participant guide during enrollment'
 'Sent during onboarding process'
 'Pt was provided with third-party apps guide during enrollment; enrolled prior to 3/21/21'
 'Does have Twitter or Instagram and not interested in Rescuetime'
 'Participant was interested but wanted a bit more information. Emailed Optional Apps Guide and will circle back on next check-in.'
 "Deleted all social media from phone and doesn't want to have location turned on for rescuetime"
 "The participant tried to add the app but had difficulty connecting.  She will try again and if it doesn't work, send me screenshots of the error"
 'Optional apps not introduced pending BUMP-C app release'
 'awaiting BUMP-C app transfer, not introduced'
 'No introduced as participant was in BUMP-C cohort and awaiting transfer to new app'
 'Not introduced to participant at discretion of EE as she expressed feeling overwhelmed by required study activities '
 'She said she was interested and asked to be emailed the guide.'
 'Participant was interested in possibly using RescueTime but asked for me to send her the guide first so she can look into it more before deciding. '
 "She already downloaded RescueTime prior to this call and said a participant guide wasn't needed."
 'Participant was interested but wanted more information. Emailed Optional Apps Guide and will circle back on next check-in.'
 'Participant expressed interest in RescueTime. Optional Apps Participant Guide emailed to pt.'
 '11/1: Pt was having a particularly difficult time due to stressors regarding her TTC journey. Did not bring up Third-Party Apps on this call. Will circle back at next check-in.\r\n\r\n12/17: Pt was not interested in using any of the optional, third-party apps.'
 'Pt said she would look into it and will decide if she wants to move forward with downloading the app. She was interested in learning more so an email was sent with more information. \r\n\r\nPt was not interested in using after email was sent. '
 'Participant is not interested in downloading external apps. '
 'Twitter - Does not use twitter.\r\nRescueTime - Would prefer not to share that data. '
 'Pt is not interested in downloading another app. '
 'Twitter - Participant does not use twitter.\r\nRescueTime - participant feels like her screen time from an app will not accurately portray her "optional" use of her phone. She is on her phone for work and also watches TV on her phone as well. '
 'Pt does not use twitter and is not interested in external apps.'
 'Participant does not use twitter and participant only uses her phone for work related reasons. '
 "Participant notes she doesn't use twitter and only uses her phone for work purposes. "
 'Participant does not use twitter and is not interested in downloading an external app. '
 'Participant does not use twitter and she uses her phone mostly for work so prefers not to have an additional app on her phone. '
 'Participant did not specify reason but says she is not interested'
 "She has an iPhone 10 and it's barely hanging on. "
 'Concern over how app will impact battery life of phone. '
 'Skipped at discretion of EE as participant has already expressed difficult keeping up with general study tasks. Will re-visit if adherence increases'
 "She's on the phone all the time at work so doesn't want to add something that could drain her battery. Not on Twitter."
 'Not using twitter and not interested in tracking her screen time.'
 "Uses her phone for work and doesn't want to add another app."
 'Participant does not use Twitter and is not interested in downloading an additional app at this time. '
 'Participant is not interested in downloading external apps at this time. '
 "No Twitter account. She uses her phone for work and doesn't want the battery drain."
 "Recently had to get a new phone because of battery issues and she doesn't want to be worried about battery drain."
 "Event planner and needs her phone to communicate for her job and can't have issues with her battery."
 "Already having battery issues and doesn't want the battery to drain more. She doesn't use Twitter."
 "Didn't want to download RescueTime due to the battery drain issue. Doesn't have Twitter."
 "Doesn't use Twitter. Not interested in RescueTime because she uses her phone to catch her bus at the end of the day and doesn't want to worry about battery drain."
 "Doesn't use Twitter and is concerned about battery drain."
 'Does not think screentime data is accurate'
 'Participant does not want to participate in RescueTime due to needing phone battery for contacting her kids while they are at school and work. '
 'Her anxiety worsens when she gets notices about her screen time usage.'
 "Doesn't have Twitter and not interested in the app."
 "Doesn't use Twitter."
 "Doesn't have twitter and uses her phone for work so doesn't want the battery drain."
 "Doesn't want to know how much time she spends on her phone. She is not a twitter user."
 "Uses her phone for work and doesn't want battery drain. Also doesn't want to be aware of how much time she spend on her phone. "
 'Not discussed at discretion of EE-- pt has yet to connect Oura ring and has not been attending to required study tasks. Will introduce at later point if overall adherence improves. '
 "Doesn't have Twitter and not interested in RescueTime."
 "Her phone battery is on the fritz and doesn't want the battery drain of the RescueTime app. She doesn't use twitter."]

In [28]:
birthing_data_cohort_2_only = data_load(data_keys = {'birthing_data_cohort_2_only'}, wave=6)['birthing_data_cohort_2_only']

In [29]:
birthing_data_cohort_2_only

,user_id,record_id,redcap_event_name,date,birth_number,birth_date,birth_scheduled,birth_scheduled_unsure,birth_gestage,birth_mode,...,hem_meds,birth_matmorbid,birth_describe,birth_stay,birth_stay_baby,birth_stay_baby_yes,birth_feeding,birth_matleave,birth_mat_leave_length,birthing_data_cohort_2_only_complete
0,28,4,postnatal_checkin_arm_1,2021-09-23,1.0,2021-08-16,3.0,Participant initially scheduled c-section for ...,"37 weeks, 6 days",1.0,...,NaN,1.0,Participant had c-section 2 days before schedu...,3,0.0,NaN,2.0,0.0,NaN,2
1,29,5,postnatal_checkin_arm_1,2021-09-21,1.0,2021-08-28,2.0,NaN,38 weeks,2.0,...,NaN,0.0,NaN,3,0.0,NaN,1.0,0.0,NaN,2
2,30,6,postnatal_checkin_arm_1,2021-08-26,1.0,2021-08-11,1.0,NaN,"39 Weeks, 3 Days",1.0,...,NaN,NaN,NaN,2,0.0,NaN,1.0,0.0,NaN,2
3,35,11,postnatal_checkin_arm_1,2021-10-21,1.0,2021-09-22,3.0,scheduled?-- Elective induction at 41 weeks ge...,"40 weeks, 6 days",1.0,...,NaN,1.0,- Participant initially arrived at L&D on 9/20...,3,0.0,NaN,1.0,1.0,12,2
4,1018,11,postnatal_checkin_arm_1,2021-10-21,1.0,2021-09-22,3.0,scheduled?-- Elective induction at 41 weeks ge...,"40 weeks, 6 days",1.0,...,NaN,1.0,- Participant initially arrived at L&D on 9/20...,3,0.0,NaN,1.0,1.0,12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2176,891,postnatal_checkin_arm_1,NaN,1.0,2022-12-16,3.0,manually broke the water but did not take any ...,39 weeks,2.0,...,NaN,0.0,NaN,2,0.0,NaN,1.0,1.0,18,1
330,2178,892,postnatal_checkin_arm_1,2023-01-09,1.0,2022-11-26,1.0,NaN,40,2.0,...,NaN,0.0,NaN,2,0.0,NaN,2.0,1.0,13,2
331,2171,893,postnatal_checkin_arm_1,2023-11-30,1.0,2022-11-24,2.0,NaN,"40 weeks, 6 days",2.0,...,NaN,0.0,NaN,4,0.0,NaN,1.0,1.0,24,2
332,2212,899,postnatal_checkin_arm_1,NaN,1.0,2023-01-02,1.0,NaN,"40 weeks, 0 days",2.0,...,NaN,0.0,NaN,2,0.0,NaN,2.0,1.0,9,2
333,2267,992,postnatal_checkin_arm_1,2023-01-17,1.0,2023-01-08,2.0,NaN,"37 weeks, 3 days",2.0,...,NaN,0.0,NaN,2,0.0,NaN,1.0,1.0,18,2

In [30]:
birthing_data_cohort_2_only['birth_stay'].value_counts()

2                                                                                                                  145
3                                                                                                                   53
1                                                                                                                   31
4                                                                                                                   19
1.5                                                                                                                  6
5                                                                                                                    4
3                                                                                                                    3
6                                                                                                                    3
2.5                                                                                                                  3
0                                                                                                                    3
3.5                                                                                                                  2
3 days                                                                                                               2
5 days                                                                                                               2
2 days                                                                                                               2
1 day                                                                                                                2
2 nights                                                                                                             1
2 hours                                                                                                              1
No, she discharged the day of delivery                                                                               1
She stayed in the hospital for 3 days, partly because of her baby's tongue tie and also due to gestational HTN.      1
8                                                                                                                    1
4 hours                                                                                                              1
7                                                                                                                    1
72                                                                                                                   1
36                                                                                                                   1
24                                                                                                                   1
24 hours                                                                                                             1
Name: birth_stay, dtype: int64

In [31]:
birthing_data_cohort_2_only[['conditionsknown', 'birth_maternal___1', 'birth_maternal___4']]

     conditionsknown  birth_maternal___1  birth_maternal___4
0                NaN                   1                   0
1                NaN                   0                   0
2                NaN                   0                   0
3                NaN                   0                   0
4                NaN                   0                   0
..               ...                 ...                 ...
329              NaN                   0                   0
330              0.0                   1                   0
331              NaN                   0                   0
332              NaN                   0                   0
333              0.0                   0                   0

[334 rows x 3 columns]

In [32]:
birthing_data_cohort_2_only['birth_mat_leave_length'].unique()

array([nan, '12', '18', '20', '6', '14', '8', '4 months', '6 weeks ',
       '16', '4', '2.5', '24', '21', '30', '17', '0', '28', '13', '9.5',
       '19', '7', '22', '26', '10', '29', '36', '9', '11'], dtype=object)

In [33]:
for i in birthing_data_cohort_2_only.columns:
    print(i, type(birthing_data_cohort_2_only[i].iloc[0]))
birthing_data_cohort_2_only.dtypes

user_id <class 'numpy.int64'>
record_id <class 'numpy.int64'>
redcap_event_name <class 'str'>
date <class 'str'>
birth_number <class 'numpy.float64'>
birth_date <class 'str'>
birth_scheduled <class 'numpy.float64'>
birth_scheduled_unsure <class 'str'>
birth_gestage <class 'str'>
birth_mode <class 'numpy.float64'>
induction_yn <class 'numpy.float64'>
induction_reason <class 'float'>
vacuumforceps <class 'numpy.float64'>
vaginalaftercesarean <class 'numpy.float64'>
birth_c_type <class 'numpy.float64'>
birth_incision <class 'numpy.float64'>
birth_indication <class 'str'>
birth_apgar1 <class 'str'>
birth_apgar2 <class 'float'>
birth_abnormal1 <class 'numpy.float64'>
birth_describe1 <class 'float'>
conditionsknown <class 'numpy.float64'>
birth_abnormal2 <class 'numpy.float64'>
birth_describe2 <class 'float'>
conditionsknown_2 <class 'numpy.float64'>
birth_maternal___1 <class 'numpy.int64'>
birth_maternal___2 <class 'numpy.int64'>
birth_maternal___4 <class 'numpy.int64'>
hypertension <class 'numpy.float64'>
hellpsyndrome <class 'numpy.float64'>
birth_urine <class 'numpy.float64'>
postparhem <class 'numpy.float64'>
hem_meds <class 'numpy.float64'>
birth_matmorbid <class 'numpy.float64'>
birth_describe <class 'str'>
birth_stay <class 'str'>
birth_stay_baby <class 'numpy.float64'>
birth_stay_baby_yes <class 'numpy.float64'>
birth_feeding <class 'numpy.float64'>
birth_matleave <class 'numpy.float64'>
birth_mat_leave_length <class 'float'>
birthing_data_cohort_2_only_complete <class 'numpy.int64'>

user_id                                   int64
record_id                                 int64
redcap_event_name                        object
date                                     object
birth_number                            float64
birth_date                               object
birth_scheduled                         float64
birth_scheduled_unsure                   object
birth_gestage                            object
birth_mode                              float64
induction_yn                            float64
induction_reason                         object
vacuumforceps                           float64
vaginalaftercesarean                    float64
birth_c_type                            float64
birth_incision                          float64
birth_indication                         object
birth_apgar1                             object
birth_apgar2                             object
birth_abnormal1                         float64
birth_describe1                          object
conditionsknown                         float64
birth_abnormal2                         float64
birth_describe2                          object
conditionsknown_2                       float64
birth_maternal___1                        int64
birth_maternal___2                        int64
birth_maternal___4                        int64
hypertension                            float64
hellpsyndrome                           float64
birth_urine                             float64
postparhem                              float64
hem_meds                                float64
birth_matmorbid                         float64
birth_describe                           object
birth_stay                               object
birth_stay_baby                         float64
birth_stay_baby_yes                     float64
birth_feeding                           float64
birth_matleave                          float64
birth_mat_leave_length                   object
birthing_data_cohort_2_only_complete      int64
dtype: object

In [39]:
df_birth = data_load(data_keys={"birth"}, wave=5)['birth']

In [40]:
for i in df_birth.columns:
    print(i, type(df_birth[i].iloc[0]))

record_id <class 'numpy.int64'>
redcap_event_name_x <class 'str'>
birth_number <class 'numpy.float64'>
birth_date <class 'str'>
birth_scheduled <class 'numpy.float64'>
birth_scheduled_unsure <class 'str'>
birth_gestage <class 'str'>
birth_mode <class 'numpy.float64'>
induction_yn <class 'numpy.float64'>
induction_reason <class 'float'>
vacuumforceps <class 'numpy.float64'>
vaginalaftercesarean <class 'numpy.float64'>
birth_c_type <class 'numpy.float64'>
birth_incision <class 'numpy.float64'>
birth_indication <class 'str'>
birth_apgar1 <class 'str'>
birth_apgar2 <class 'float'>
birth_abnormal1 <class 'numpy.float64'>
birth_describe1 <class 'float'>
conditionsknown <class 'numpy.float64'>
birth_abnormal2 <class 'numpy.float64'>
birth_describe2 <class 'float'>
conditionsknown_2 <class 'numpy.float64'>
birth_maternal___1 <class 'numpy.int64'>
birth_maternal___2 <class 'numpy.int64'>
birth_maternal___4 <class 'numpy.int64'>
hypertension <class 'numpy.float64'>
hellpsyndrome <class 'numpy.float64'>
birth_urine <class 'numpy.float64'>
postparhem <class 'numpy.float64'>
hem_meds <class 'numpy.float64'>
birth_matmorbid <class 'numpy.float64'>
birth_describe <class 'str'>
birth_stay <class 'str'>
birth_stay_baby <class 'numpy.float64'>
birth_stay_baby_yes <class 'numpy.float64'>
birth_feeding <class 'numpy.float64'>
birth_matleave <class 'numpy.float64'>
birth_mat_leave_length <class 'float'>
birthing_data_cohort_2_only_complete <class 'numpy.int64'>
date <class 'datetime.date'>
redcap_event_name_y <class 'str'>
participant_id <class 'numpy.int64'>
sema4_id <class 'str'>
evidation_id <class 'numpy.float64'>
evidation_id_prior1 <class 'numpy.float64'>
evidation_id_prior2 <class 'numpy.float64'>
evidation_id_c <class 'numpy.float64'>
study_ids_complete <class 'numpy.int64'>
user_id <class 'numpy.float64'>

In [35]:
check_in_adherence_log = data_load(data_keys={"check_in_adherence_log"}, wave=6)['check_in_adherence_log'
]

In [36]:
check_in_adherence_log

,user_id,record_id,checkin_completed,checkin_missed,checkin_scheduled,checkin_adherence_rate,checkin_1,checkin_1_date,checkin_2,checkin_2_date,...,checkin_30,checkin_30_date,checkin_postnatal_1,checkin_postnatal_1_date,checkin_postnatal_2,checkin_postnatal_2_date,checkin_postnatal_3,checkin_postnatal_3_date,checkin_exit,checkin_adherence_log_complete
0,28,4,14.0,0.0,14.0,NaN,2.0,2021-03-18,2.0,2021-04-01,...,0.0,NaN,2.0,2021-09-23,2.0,2021-10-28,2.0,2021-12-02,2.0,2
1,29,5,13.0,1.0,14.0,NaN,2.0,2021-03-24,2.0,2021-04-06,...,0.0,NaN,2.0,2021-09-21,2.0,2021-10-19,2.0,2021-11-16,2.0,2
2,30,6,13.0,0.0,13.0,NaN,2.0,2021-03-18,2.0,2021-04-01,...,0.0,NaN,2.0,2021-08-26,2.0,2021-09-23,2.0,2021-11-01,2.0,2
3,31,7,3.0,2.0,5.0,NaN,2.0,2021-03-25,2.0,2021-04-07,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2.0,2
4,32,8,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2540,1101,NaN,NaN,NaN,NaN,2.0,2022-10-12,2.0,2022-10-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
660,2589,1102,NaN,NaN,NaN,NaN,2.0,2022-10-10,2.0,2022-10-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
661,2588,1103,NaN,NaN,NaN,NaN,2.0,2022-10-26,2.0,2022-11-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
662,2615,1104,NaN,NaN,NaN,NaN,2.0,2022-10-26,2.0,2022-11-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
663,2616,1105,NaN,NaN,NaN,NaN,2.0,2022-10-20,2.0,2022-11-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [37]:
check_in_adherence_log['checkin_adherence_rate'].unique()

array([         nan,  80.        ,  88.        ,  91.30434783,
        75.86206897, 100.        ,  95.65217391,  78.26086957,
        88.88888889,  41.17647059,  95.        ,  76.        ,
        96.2962963 ,  89.28571429,  72.22222222,  96.42857143,
        73.91304348,  54.54545455,  94.44444444,   0.73333333,
         0.92307692,  73.68421053,  96.77419355,  84.61538462,
        91.66666667,   1.        ,  83.33333333,  92.85714286,
        92.30769231,  76.92307692,  66.66666667,  93.33333333,
        90.90909091,  81.81818182,  69.23076923,   0.        ,
         0.5       ,   0.55555556,  90.47619048,  57.14285714,
        61.53846154,  77.77777778,  16.66666667,  90.        ,
        86.66666667,  87.5       ,  58.33333333,  75.        ,
        82.60869565,   0.875     ,  70.        ,  85.71428571,
        95.45454545,  52.94117647,  28.57142857,  50.        ,
        78.57142857,  94.11764706,  63.63636364,  33.33333333,
        20.        ,  60.        ,  93.75      ,  23.07692308])

In [38]:
for i in check_in_adherence_log.columns:
    print('`'+i+'`', type(check_in_adherence_log[i].iloc[0]))

`user_id` <class 'numpy.int64'>
`record_id` <class 'numpy.int64'>
`checkin_completed` <class 'numpy.float64'>
`checkin_missed` <class 'numpy.float64'>
`checkin_scheduled` <class 'numpy.float64'>
`checkin_adherence_rate` <class 'numpy.float64'>
`checkin_1` <class 'numpy.float64'>
`checkin_1_date` <class 'str'>
`checkin_2` <class 'numpy.float64'>
`checkin_2_date` <class 'str'>
`checkin_3` <class 'numpy.float64'>
`checkin_3_date` <class 'str'>
`checkin_4` <class 'numpy.float64'>
`checkin_4_date` <class 'str'>
`checkin_5` <class 'numpy.float64'>
`checkin_5_date` <class 'str'>
`checkin_6` <class 'numpy.float64'>
`checkin_6_date` <class 'str'>
`checkin_7` <class 'numpy.float64'>
`checkin_7_date` <class 'str'>
`checkin_8` <class 'numpy.float64'>
`checkin_8_date` <class 'str'>
`checkin_9` <class 'numpy.float64'>
`checkin_9_date` <class 'str'>
`checkin_10` <class 'numpy.float64'>
`checkin_10_date` <class 'str'>
`checkin_11` <class 'numpy.float64'>
`checkin_11_date` <class 'str'>
`checkin_12` <class 'numpy.float64'>
`checkin_12_date` <class 'float'>
`checkin_13` <class 'numpy.float64'>
`checkin_13_date` <class 'float'>
`checkin_14` <class 'numpy.float64'>
`checkin_14_date` <class 'float'>
`checkin_15` <class 'numpy.float64'>
`checkin_15_date` <class 'float'>
`checkin_16` <class 'numpy.float64'>
`checkin_16_date` <class 'float'>
`checkin_17` <class 'numpy.float64'>
`checkin_17_date` <class 'float'>
`checkin_18` <class 'numpy.float64'>
`checkin_18_date` <class 'float'>
`checkin_19` <class 'numpy.float64'>
`checkin_19_date` <class 'float'>
`checkin_20` <class 'numpy.float64'>
`checkin_20_date` <class 'float'>
`checkin_21` <class 'numpy.float64'>
`checkin_21_date` <class 'float'>
`checkin_22` <class 'numpy.float64'>
`checkin_22_date` <class 'float'>
`checkin_23` <class 'numpy.float64'>
`checkin_23_date` <class 'float'>
`checkin_24` <class 'numpy.float64'>
`checkin_24_date` <class 'float'>
`checkin_25` <class 'numpy.float64'>
`checkin_25_date` <class 'float'>
`checkin_26` <class 'numpy.float64'>
`checkin_26_date` <class 'float'>
`checkin_27` <class 'numpy.float64'>
`checkin_27_date` <class 'float'>
`checkin_28` <class 'numpy.float64'>
`checkin_28_date` <class 'float'>
`checkin_29` <class 'numpy.float64'>
`checkin_29_date` <class 'numpy.float64'>
`checkin_30` <class 'numpy.float64'>
`checkin_30_date` <class 'numpy.float64'>
`checkin_postnatal_1` <class 'numpy.float64'>
`checkin_postnatal_1_date` <class 'str'>
`checkin_postnatal_2` <class 'numpy.float64'>
`checkin_postnatal_2_date` <class 'str'>
`checkin_postnatal_3` <class 'numpy.float64'>
`checkin_postnatal_3_date` <class 'str'>
`checkin_exit` <class 'numpy.float64'>
`checkin_adherence_log_complete` <class 'numpy.int64'>

In [41]:
metadata = data_load(data_keys={"metadata"}, wave=6)['metadata']

In [42]:
metadata

,field_name,form_name,section_header,field_type,field_label,select_choices_or_calculations,field_note,text_validation_type_or_show_slider_number,text_validation_min,text_validation_max,identifier,branching_logic,required_field,custom_alignment,question_number,matrix_group_name,matrix_ranking,field_annotation
0,record_id,screening_survey,NaN,text,Record ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,firstname,screening_survey,"To see if you are eligible for this study, I a...",text,1. First Name:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
2,lastname,screening_survey,NaN,text,2. Last Name:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
3,mmyy,screening_survey,NaN,text,3. When were you born? (MM/YY),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
4,eighteen,screening_survey,NaN,text,"<div class=""rich-text-field-label""><p>4. How o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,complete_adherence_note,study_completion_form,"<div class=""rich-text-field-label""><p>SPECIFIC...",notes,Adherence Note 1:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
890,complete_adherence_note_2,study_completion_form,NaN,notes,Adherence Note 2:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
891,complete_adherence_note_3,study_completion_form,NaN,notes,Adherence Note 3:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
892,complete_adherence_note_4,study_completion_form,NaN,notes,Adherence Note 4:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
893,complete_adherence_note_5,study_completion_form,NaN,notes,Adherence Note 5:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN

In [44]:
metadata['form_name'].unique()

array(['screening_survey', 'study_ids', 'enrollment_status',
       'fulfillment', 'study_dates_cohort_info', 'check_in_adherence_log',
       'monthly_points_log', 'concomitant_medication',
       'symptom_tracking_permission', 'check_in_2_addendum', 'ace',
       'personal_characteristics', 'medications', 'phq9', 'cssrs',
       'generalized_anxiety_disorder_scale_gad7', 'epds_cohort_2_only_2',
       'pitting_edema_cohort_2_only', 'perinatal_ptsd_cohort_2_only',
       'mssi_cohort_2_only', 'birthing_data_cohort_2_only',
       'pediatric_outcomes_cohort_2_only', 'adverse_event_report',
       'risk_alert_trigger', 'contact_log',
       'suicide_risk_response_completed_by_study_doctor',
       'exit_interview', 'study_completion_form'], dtype=object)

In [48]:
metadata[metadata['form_name']=='personal_characteristics']

,field_name,form_name,section_header,field_type,field_label,select_choices_or_calculations,field_note,text_validation_type_or_show_slider_number,text_validation_min,text_validation_max,identifier,branching_logic,required_field,custom_alignment,question_number,matrix_group_name,matrix_ranking,field_annotation
611,lifestyle1,personal_characteristics,Please answer the following questions about yo...,radio,"1. On average before your pregnancy, how often...","0, Never | 1, Less than once a week | 2, Once ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LV,NaN,NaN,NaN,NaN
612,lifestyle2,personal_characteristics,NaN,radio,"2. On average before your pregnancy, how often...","0, Never | 1, Less than once a week | 2, Once ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LV,NaN,NaN,NaN,NaN
613,lifestyle2a,personal_characteristics,NaN,radio,"2a. On average before your pregnancy, how ofte...","0, None | 1, Once | 2, 2-3 times a week | 3, 4...",NaN,NaN,NaN,NaN,NaN,[lifestyle2] = '1' or [lifestyle2] = '2' or [l...,NaN,LV,NaN,NaN,NaN,NaN
614,lifestyle3,personal_characteristics,NaN,radio,"3. Before your pregnancy, did you ever use rec...","0, No | 1, Yes | 2, Prefer not to answer",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LV,NaN,NaN,NaN,NaN
615,lifestyle3a,personal_characteristics,NaN,radio,"3a. Before your pregnancy, how often did you u...","0, Just once | 1, Just a few times | 2, Once a...",NaN,NaN,NaN,NaN,NaN,[lifestyle3] = '1',NaN,LV,NaN,NaN,NaN,NaN
616,lifestyle4,personal_characteristics,NaN,radio,"4. On average before your pregnancy, how often...","0, Never | 1, Less than once a week | 2, Once ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LV,NaN,NaN,NaN,NaN
617,height_feet,personal_characteristics,NaN,text,"<div class=""rich-text-field-label""><p>5. How t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
618,height_inches,personal_characteristics,NaN,text,"<div class=""rich-text-field-label""><p>5a. How ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
619,weight,personal_characteristics,NaN,text,"<div class=""rich-text-field-label""><p>6. How m...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
620,weight_prepreg,personal_characteristics,NaN,text,"<div class=""rich-text-field-label""><p>7. How m...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RH,NaN,NaN,NaN,NaN
621,lifestyle_8,personal_characteristics,NaN,radio,8. Did you lose any weight in the past year / ...,"1, Yes | 0, No | 2, Unknown",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
622,lifestyle_8a,personal_characteristics,NaN,text,"<div class=""rich-text-field-label""><p>8a. If y...",NaN,NaN,NaN,NaN,NaN,NaN,[lifestyle_8] = '1',NaN,RH,NaN,NaN,NaN,NaN
623,lifestyle_8b,personal_characteristics,NaN,radio,"8b. If yes, over what period of time did you l...","1, < 1 month | 2, 1-3 months | 3, 3-6 months |...",NaN,NaN,NaN,NaN,NaN,[lifestyle_8] = '1',NaN,LH,NaN,NaN,NaN,NaN
624,lifestyle_9,personal_characteristics,"The next question is about ""periods of extreme...",radio,"9. Thinking about the past three months, how o...","1, Rarely or never | 2, About once a week | 3,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN
625,lifestyle_9a,personal_characteristics,NaN,radio,"9a. If once a week or more, to what extent do ...","1, Not at all | 2, Slightly | 3, Moderately | ...",NaN,NaN,NaN,NaN,NaN,[lifestyle_9] = '2' and [lifestyle_9] = '3' an...,NaN,LH,NaN,NaN,NaN,NaN
626,lifestyle_10,personal_characteristics,NaN,radio,10. Does day to day variation in your weight i...,"1, Not at all | 2, Slightly | 3, Moderately | ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,LH,NaN,NaN,NaN,NaN

In [49]:
personal_characteristics = data_load(data_keys={"personal_characteristics"}, wave=6)['personal_characteristics']

In [50]:
personal_characteristics

,user_id,record_id,redcap_event_name,date,lifestyle1,lifestyle2,lifestyle2a,lifestyle3,lifestyle3a,lifestyle4,...,height_inches,weight,weight_prepreg,lifestyle_8,lifestyle_8a,lifestyle_8b,lifestyle_9,lifestyle_9a,lifestyle_10,personal_characteristics_complete
0,28,4,ci_2_arm_1,2021-04-01,0,0,NaN,0.0,NaN,4,...,5.0,145,117,0.0,NaN,NaN,1.0,NaN,1.0,2
1,29,5,ci_2_arm_1,2021-04-06,0,1,1.0,0.0,NaN,2,...,6.0,181,170,0.0,NaN,NaN,1.0,NaN,2.0,2
2,30,6,ci_2_arm_1,2021-04-01,0,0,NaN,0.0,NaN,3,...,4.0,279,279,0.0,NaN,NaN,1.0,NaN,3.0,2
3,31,7,ci_2_arm_1,2021-04-07,0,1,0.0,1.0,1.0,3,...,1.0,152,149,1.0,30,2.0,1.0,NaN,3.0,2
4,35,11,ci_2_arm_1,2021-04-21,0,3,NaN,0.0,NaN,4,...,2.0,170,155,2.0,NaN,NaN,1.0,NaN,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,2540,1101,ci_2_arm_1,2022-10-26,0,4,3.0,1.0,4.0,3,...,5.0,169,165,0.0,NaN,NaN,1.0,NaN,2.0,2
485,2589,1102,ci_2_arm_1,2022-10-24,0,1,0.0,0.0,NaN,3,...,3.0,150,136,1.0,4,NaN,1.0,NaN,1.0,2
486,2588,1103,ci_2_arm_1,2022-11-10,0,4,1.0,1.0,1.0,4,...,3.0,121,116,0.0,NaN,NaN,1.0,NaN,1.0,2
487,2615,1104,ci_2_arm_1,2022-11-09,0,3,1.0,1.0,1.0,4,...,4.0,140,128,1.0,7,3.0,1.0,NaN,2.0,2
488,2616,1105,ci_2_arm_1,2022-11-10,0,1,1.0,1.0,1.0,4,...,8.0,185,140,1.0,13,5.0,3.0,NaN,1.0,2